# Compiled class files
*.class
*.jar

# IDE-specific files
*.iml
.idea/
.vscode/
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml
release.properties

# Gradle
.gradle/
build/
bin/

# Other
.DS_Store
Thumbs.db
